@tailwind base;
@tailwind components;
@tailwind utilities;


.my-container{
    max-width: 1140px !important;
    margin: 0 auto !important;
    padding: 0 20px !important;
}


@media(max-width:550px){
    .wrap-at-550{
        flex-wrap: wrap !important;
    }
    
    .hundred{
        max-width: 100% !important;
    }
    .gap-5{
        gap: 0.8rem !important;
    }
}
